node_modules
vendor
.git
.github
.vscode
.idea
*.log
.env*
!.env.example
storage/logs/*
.vercel
.cursor
docker
docker-compose.yml
docker-compose.prod.yml
.env
.env.example
.env.local
.DS_Store
*.md
!.env.production 